- var projectType = 'Roofing'

ul.props
  li.props__type.props__type_filled Type of project 
    span.props__value.props__value_filled= projectType
  li.props__type Square footage 
    span.props__value.props__value_square &mdash;
  li.props__type Stories 
    span.props__value.props__value_stories &mdash;
  li.props__type Garage 
    span.props__value.props__value_garage &mdash;
  li.props__type Pitch 
    span.props__value.props__value_roof &mdash;