mixin clouds()
  .clouds
    .clouds__el.clouds__el_small
      svg.clouds__img.clouds__img_small 
        use(xlink:href="/images/sprite.svg#cloud-small")
    .clouds__el.clouds__el_medium 
      svg.clouds__img.clouds__img_medium 
        use(xlink:href="/images/sprite.svg#cloud-medium")
    .clouds__el.clouds__el_big
      svg.clouds__img.clouds__img_big 
        use(xlink:href="/images/sprite.svg#cloud-big")