// COLORS
$color-primary: #135c7d;
$color-primary-light: #75acc6;
$color-primary-light2: #7d9fae;

$color-secondary: #d8dee1;
$color-secondary-light: #f0f7fa;
$color-secondary-dark: #bad5e2;

$color-tertiary: #26deff;
$color-tertiary-light: #64a1ac;
$color-tertiary-dark: #22c8e6;

$color-white: #fff;
$color-black: #000;

// FONTS
$poppins: 'Poppins', sans-serif;
$barlow: 'Barlow', sans-serif;
$roboto: 'Roboto', sans-serif;
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
