-
  var steps = [
    {
      title: 'Ballpark Questions',
      question: 'Total square footage',
      type: 'input',
      options: [
        {
          img: 'square',
          name: 'square',
          value: '',
          title: 'SQFT' 
        },
      ]
    },
    {
      title: 'Ballpark Questions',
      question: 'How many stories is your house?',
      type: 'radio',
      options: [
        {
          img: 'stories-one',
          name: 'stories',
          value: 'one-story',
          title: '1 story',
        },
        {
          img: 'stories-two',
          name: 'stories',
          value: 'two-stories',
          title: '2 stories',
        },
        {
          img: 'stories-three',
          name: 'stories',
          value: 'three-stories',
          title: '3 stories',
        },
      ]
    },
    {
      title: 'Ballpark Questions',
      question: 'What type of garage (if any) does your house hane?',
      type: 'radio',
      options: [
        {
          img: 'garage-no',
          name: 'garage',
          value: 'garage-no',
          title: 'No garage',
        },
        {
          img: 'garage-detached',
          name: 'garage',
          value: 'garage-detached',
          title: 'Detached garage',
        },
        {
          img: 'garage-attached',
          name: 'garage',
          value: 'garage-attached-1',
          title: 'Atached garage',
        },
        {
          img: 'garage-attached-in',
          name: 'garage',
          value: 'garage-attaged-2',
          title: 'Atached garage',
        },
      ]
    },
    {
      title: 'Ballpark Questions',
      question: 'What is shape of your roof?',
      type: 'radio',
      options: [
        {
          img: 'roof-simple',
          name: 'roof',
          value: 'simple',
          title: 'Simple',
        },
        {
          img: 'roof-moderate',
          name: 'roof',
          value: 'moderate',
          title: 'Moderate',
        },
        {
          img: 'roof-complex',
          name: 'roof',
          value: 'complex',
          title: 'Complex',
        },
      ]
    },
    {
      title: 'Price Range',
      question: 'Estimated price for a given scope of work',
      type: 'price',
      img: 'price',
      info: 'The final price depends on many factors that the master will find out during a personal visit'
    },
  ]